<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='{}/index.css'.format(g.style)) }}">
    <meta name="description" content="tumblr without the annoying themes"/>
</head>
<body>
    {% include 'components/toolbars/include_dashboard.html' %}
    <div id="maincontainer">
        <img src="{{ url_for('static', filename='logo.png') }}"/>
        {% include 'components/search_form.html' %}
        <div id="description">
            <p>
                A wrapper for tumblr.<br>
                Consider <a href="http://gifhorseinthemouth.tumblr.com/">http://gifhorseinthemouth.tumblr.com/</a>
                vs <a href="{{ url_for('subdomain_posts', subdomain='gifhorseinthemouth') }}">http://gifhorseinthemouth.nothe.me/</a>
            </p>
        </div>
    </div>
</body>
</html>
