#comment_text_area {
    width: 500px;
    height: 150px;
    max-width: 100%;
    padding: 12px 12px;
    margin-top: 20px;
}

#reblog_from_picklist {
    width: 500px;
    max-width: 100%;
    margin: 10px 0 10px 0;
    padding: 0 10px 0 0;
}

#reblog_submit_button {
   width: 500px;
   max-width: 100%;
   text-align: center;
   padding: 12px;
}

#maincontainer{
    margin-bottom: 50px;
}